{
  "openapi": "3.1.0",
  "info": {
    "title": "PackRat API",
    "description": "PackRat is a comprehensive outdoor adventure planning platform that helps users organize and manage their packing lists for trips.",
    "version": "1.0.0",
    "contact": {
      "name": "PackRat Support",
      "email": "support@packrat.app",
      "url": "https://packrat.app"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.packrat.app",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.packrat.app",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /api/auth/login or /api/auth/refresh endpoints"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Server-to-server API key for machine clients"
      }
    },
    "schemas": {
      "catalog.CatalogCategoriesResponse": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "catalog.CatalogCompareRequest": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "minItems": 2,
            "maxItems": 10
          }
        },
        "required": [
          "ids"
        ],
        "additionalProperties": false
      },
      "catalog.CatalogETL": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string",
            "minLength": 1
          },
          "chunks": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1
          },
          "source": {
            "type": "string",
            "minLength": 1
          },
          "scraperRevision": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "filename",
          "chunks",
          "source",
          "scraperRevision"
        ],
        "additionalProperties": false
      },
      "catalog.CatalogItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "name": {
            "type": "string"
          },
          "productUrl": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "weight": {
            "type": "number",
            "nullable": true
          },
          "weightUnit": {
            "type": "string",
            "enum": [
              "g",
              "oz",
              "kg",
              "lb"
            ],
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "brand": {
            "type": "string",
            "nullable": true
          },
          "model": {
            "type": "string",
            "nullable": true
          },
          "ratingValue": {
            "type": "number",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "string",
            "nullable": true
          },
          "price": {
            "type": "number",
            "nullable": true
          },
          "availability": {
            "type": "string",
            "enum": [
              "in_stock",
              "out_of_stock",
              "preorder"
            ],
            "nullable": true
          },
          "seller": {
            "type": "string",
            "nullable": true
          },
          "productSku": {
            "type": "string",
            "nullable": true
          },
          "material": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "condition": {
            "type": "string",
            "nullable": true
          },
          "reviewCount": {
            "type": "integer",
            "nullable": true
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "attribute": {
                  "type": "string"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "attribute",
                "values"
              ],
              "additionalProperties": false
            },
            "nullable": true
          },
          "techs": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "required": [
                "title",
                "url"
              ],
              "additionalProperties": false
            },
            "nullable": true
          },
          "reviews": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "user_name": {
                  "type": "string",
                  "nullable": true
                },
                "user_avatar": {
                  "type": "string",
                  "nullable": true
                },
                "context": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "nullable": true
                },
                "recommends": {
                  "type": "boolean",
                  "nullable": true
                },
                "rating": {
                  "type": "number"
                },
                "title": {
                  "type": "string",
                  "nullable": true
                },
                "text": {
                  "type": "string",
                  "nullable": true
                },
                "date": {
                  "type": "string",
                  "nullable": true
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "nullable": true
                },
                "upvotes": {
                  "type": "number",
                  "nullable": true
                },
                "downvotes": {
                  "type": "number",
                  "nullable": true
                },
                "verified": {
                  "type": "boolean",
                  "nullable": true
                }
              },
              "required": [
                "rating"
              ],
              "additionalProperties": false
            },
            "nullable": true
          },
          "qas": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "user": {
                  "type": "string",
                  "nullable": true
                },
                "date": {
                  "type": "string"
                },
                "answers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "a": {
                        "type": "string"
                      },
                      "date": {
                        "type": "string"
                      },
                      "user": {
                        "type": "string",
                        "nullable": true
                      },
                      "upvotes": {
                        "type": "number",
                        "nullable": true
                      }
                    },
                    "required": [
                      "a",
                      "date"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "question",
                "date",
                "answers"
              ],
              "additionalProperties": false
            },
            "nullable": true
          },
          "faqs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "answer": {
                  "type": "string"
                }
              },
              "required": [
                "question",
                "answer"
              ],
              "additionalProperties": false
            },
            "nullable": true
          },
          "usageCount": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "productUrl",
          "sku",
          "weight",
          "weightUnit",
          "description",
          "categories",
          "images",
          "brand",
          "model",
          "ratingValue",
          "color",
          "size",
          "price",
          "availability",
          "seller",
          "productSku",
          "material",
          "currency",
          "condition",
          "reviewCount",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "catalog.CatalogItemsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "exclusiveMinimum": 0
                },
                "name": {
                  "type": "string"
                },
                "productUrl": {
                  "type": "string"
                },
                "sku": {
                  "type": "string"
                },
                "weight": {
                  "type": "number",
                  "nullable": true
                },
                "weightUnit": {
                  "type": "string",
                  "enum": [
                    "g",
                    "oz",
                    "kg",
                    "lb"
                  ],
                  "nullable": true
                },
                "description": {
                  "type": "string",
                  "nullable": true
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "nullable": true
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "nullable": true
                },
                "brand": {
                  "type": "string",
                  "nullable": true
                },
                "model": {
                  "type": "string",
                  "nullable": true
                },
                "ratingValue": {
                  "type": "number",
                  "nullable": true
                },
                "color": {
                  "type": "string",
                  "nullable": true
                },
                "size": {
                  "type": "string",
                  "nullable": true
                },
                "price": {
                  "type": "number",
                  "nullable": true
                },
                "availability": {
                  "type": "string",
                  "enum": [
                    "in_stock",
                    "out_of_stock",
                    "preorder"
                  ],
                  "nullable": true
                },
                "seller": {
                  "type": "string",
                  "nullable": true
                },
                "productSku": {
                  "type": "string",
                  "nullable": true
                },
                "material": {
                  "type": "string",
                  "nullable": true
                },
                "currency": {
                  "type": "string",
                  "nullable": true
                },
                "condition": {
                  "type": "string",
                  "nullable": true
                },
                "reviewCount": {
                  "type": "integer",
                  "nullable": true
                },
                "variants": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "attribute": {
                        "type": "string"
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "attribute",
                      "values"
                    ],
                    "additionalProperties": false
                  },
                  "nullable": true
                },
                "techs": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "nullable": true
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "title",
                      "url"
                    ],
                    "additionalProperties": false
                  },
                  "nullable": true
                },
                "reviews": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "user_name": {
                        "type": "string",
                        "nullable": true
                      },
                      "user_avatar": {
                        "type": "string",
                        "nullable": true
                      },
                      "context": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "recommends": {
                        "type": "boolean",
                        "nullable": true
                      },
                      "rating": {
                        "type": "number"
                      },
                      "title": {
                        "type": "string",
                        "nullable": true
                      },
                      "text": {
                        "type": "string",
                        "nullable": true
                      },
                      "date": {
                        "type": "string",
                        "nullable": true
                      },
                      "images": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "upvotes": {
                        "type": "number",
                        "nullable": true
                      },
                      "downvotes": {
                        "type": "number",
                        "nullable": true
                      },
                      "verified": {
                        "type": "boolean",
                        "nullable": true
                      }
                    },
                    "required": [
                      "rating"
                    ],
                    "additionalProperties": false
                  },
                  "nullable": true
                },
                "qas": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "question": {
                        "type": "string"
                      },
                      "user": {
                        "type": "string",
                        "nullable": true
                      },
                      "date": {
                        "type": "string"
                      },
                      "answers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "a": {
                              "type": "string"
                            },
                            "date": {
                              "type": "string"
                            },
                            "user": {
                              "type": "string",
                              "nullable": true
                            },
                            "upvotes": {
                              "type": "number",
                              "nullable": true
                            }
                          },
                          "required": [
                            "a",
                            "date"
                          ],
                          "additionalProperties": false
                        }
                      }
                    },
                    "required": [
                      "question",
                      "date",
                      "answers"
                    ],
                    "additionalProperties": false
                  },
                  "nullable": true
                },
                "faqs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "question": {
                        "type": "string"
                      },
                      "answer": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "question",
                      "answer"
                    ],
                    "additionalProperties": false
                  },
                  "nullable": true
                },
                "usageCount": {
                  "type": "integer",
                  "minimum": 0
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "name",
                "productUrl",
                "sku",
                "weight",
                "weightUnit",
                "description",
                "categories",
                "images",
                "brand",
                "model",
                "ratingValue",
                "color",
                "size",
                "price",
                "availability",
                "seller",
                "productSku",
                "material",
                "currency",
                "condition",
                "reviewCount",
                "createdAt",
                "updatedAt"
              ],
              "additionalProperties": false
            }
          },
          "totalCount": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "totalCount",
          "page",
          "limit",
          "totalPages"
        ],
        "additionalProperties": false
      },
      "catalog.CreateCatalogItemRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "productUrl": {
            "type": "string",
            "format": "uri"
          },
          "sku": {
            "type": "string"
          },
          "weight": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "weightUnit": {
            "type": "string",
            "enum": [
              "g",
              "oz",
              "kg",
              "lb"
            ]
          },
          "description": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "brand": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "ratingValue": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "color": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "availability": {
            "type": "string",
            "enum": [
              "in_stock",
              "out_of_stock",
              "preorder"
            ]
          },
          "seller": {
            "type": "string"
          },
          "productSku": {
            "type": "string"
          },
          "material": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "condition": {
            "type": "string"
          },
          "reviewCount": {
            "type": "number",
            "minimum": 0
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "attribute": {
                  "type": "string"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "attribute",
                "values"
              ],
              "additionalProperties": false
            }
          },
          "techs": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "required": [
                "title",
                "url"
              ],
              "additionalProperties": false
            }
          },
          "reviews": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "user_name": {
                  "type": "string"
                },
                "user_avatar": {
                  "type": "string"
                },
                "context": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "recommends": {
                  "type": "boolean"
                },
                "rating": {
                  "type": "number"
                },
                "title": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "upvotes": {
                  "type": "number"
                },
                "downvotes": {
                  "type": "number"
                },
                "verified": {
                  "type": "boolean"
                }
              },
              "required": [
                "user_name",
                "rating",
                "title",
                "text",
                "date"
              ],
              "additionalProperties": false
            }
          },
          "qas": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "user": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "answers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "a": {
                        "type": "string"
                      },
                      "date": {
                        "type": "string"
                      },
                      "user": {
                        "type": "string"
                      },
                      "upvotes": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "a",
                      "date"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "question",
                "date",
                "answers"
              ],
              "additionalProperties": false
            }
          },
          "faqs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "answer": {
                  "type": "string"
                }
              },
              "required": [
                "question",
                "answer"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "name",
          "productUrl",
          "sku",
          "weight",
          "weightUnit"
        ],
        "additionalProperties": false
      },
      "catalog.UpdateCatalogItemRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "productUrl": {
            "type": "string",
            "format": "uri"
          },
          "sku": {
            "type": "string"
          },
          "weight": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "weightUnit": {
            "type": "string",
            "enum": [
              "g",
              "oz",
              "kg",
              "lb"
            ]
          },
          "description": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "brand": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "ratingValue": {
            "type": "number",
            "minimum": 0,
            "maximum": 5
          },
          "color": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "availability": {
            "type": "string",
            "enum": [
              "in_stock",
              "out_of_stock",
              "preorder"
            ]
          },
          "seller": {
            "type": "string"
          },
          "productSku": {
            "type": "string"
          },
          "material": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "condition": {
            "type": "string"
          },
          "reviewCount": {
            "type": "number",
            "minimum": 0
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "attribute": {
                  "type": "string"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "attribute",
                "values"
              ],
              "additionalProperties": false
            }
          },
          "techs": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "required": [
                "title",
                "url"
              ],
              "additionalProperties": false
            }
          },
          "reviews": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "user_name": {
                  "type": "string"
                },
                "user_avatar": {
                  "type": "string"
                },
                "context": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "recommends": {
                  "type": "boolean"
                },
                "rating": {
                  "type": "number"
                },
                "title": {
                  "type": "string"
                },
                "text": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "upvotes": {
                  "type": "number"
                },
                "downvotes": {
                  "type": "number"
                },
                "verified": {
                  "type": "boolean"
                }
              },
              "required": [
                "user_name",
                "rating",
                "title",
                "text",
                "date"
              ],
              "additionalProperties": false
            }
          },
          "qas": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "user": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "answers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "a": {
                        "type": "string"
                      },
                      "date": {
                        "type": "string"
                      },
                      "user": {
                        "type": "string"
                      },
                      "upvotes": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "a",
                      "date"
                    ],
                    "additionalProperties": false
                  }
                }
              },
              "required": [
                "question",
                "date",
                "answers"
              ],
              "additionalProperties": false
            }
          },
          "faqs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "answer": {
                  "type": "string"
                }
              },
              "required": [
                "question",
                "answer"
              ],
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "catalog.ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "guides.GuideCategoriesResponse": {
        "type": "object",
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "categories",
          "count"
        ],
        "additionalProperties": false
      },
      "guides.GuideDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "readingTime": {
            "type": "number"
          },
          "difficulty": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "key",
          "title",
          "category",
          "description",
          "content",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "guides.GuideSearchResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "description": {
                  "type": "string"
                },
                "author": {
                  "type": "string"
                },
                "readingTime": {
                  "type": "number"
                },
                "difficulty": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "key",
                "title",
                "category",
                "description",
                "createdAt",
                "updatedAt"
              ],
              "additionalProperties": false
            }
          },
          "totalCount": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          },
          "query": {
            "type": "string"
          }
        },
        "required": [
          "items",
          "totalCount",
          "page",
          "limit",
          "totalPages",
          "query"
        ],
        "additionalProperties": false
      },
      "guides.GuidesResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "description": {
                  "type": "string"
                },
                "author": {
                  "type": "string"
                },
                "readingTime": {
                  "type": "number"
                },
                "difficulty": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "key",
                "title",
                "category",
                "description",
                "createdAt",
                "updatedAt"
              ],
              "additionalProperties": false
            }
          },
          "totalCount": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "totalCount",
          "page",
          "limit",
          "totalPages"
        ],
        "additionalProperties": false
      },
      "feed.CreateCommentRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000
          },
          "parentCommentId": {
            "type": "integer"
          }
        },
        "required": [
          "content"
        ],
        "additionalProperties": false
      },
      "feed.CreatePostRequest": {
        "type": "object",
        "properties": {
          "caption": {
            "type": "string",
            "maxLength": 2000
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 10
          }
        },
        "required": [
          "images"
        ],
        "additionalProperties": false
      },
      "feed.FeedResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "userId": {
                  "type": "string"
                },
                "caption": {
                  "type": "string",
                  "nullable": true
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "author": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "required": [
                    "id",
                    "firstName",
                    "lastName"
                  ],
                  "additionalProperties": false
                },
                "likeCount": {
                  "type": "integer"
                },
                "commentCount": {
                  "type": "integer"
                },
                "likedByMe": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "userId",
                "caption",
                "images",
                "createdAt",
                "updatedAt",
                "likeCount",
                "commentCount",
                "likedByMe"
              ],
              "additionalProperties": false
            }
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        },
        "required": [
          "items",
          "page",
          "limit",
          "total",
          "totalPages"
        ],
        "additionalProperties": false
      },
      "packs.AddPackItemBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "weight": {
            "type": "number"
          },
          "weightUnit": {
            "type": "string",
            "enum": [
              "g",
              "oz",
              "kg",
              "lb"
            ],
            "default": "g"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1
          },
          "category": {
            "type": "string"
          },
          "consumable": {
            "type": "boolean"
          },
          "worn": {
            "type": "boolean"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "catalogItemId": {
            "type": "integer",
            "nullable": true
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "weight",
          "id"
        ],
        "additionalProperties": false
      },
      "packs.AnalyzeImageRequest": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string"
          },
          "matchLimit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10
          }
        },
        "required": [
          "image"
        ],
        "additionalProperties": false
      },
      "packs.CreatePackBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string"
          },
          "localCreatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "localUpdatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "name",
          "id",
          "localCreatedAt",
          "localUpdatedAt"
        ],
        "additionalProperties": false
      },
      "packs.CreatePackWeightHistoryBody": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "weight": {
            "type": "number"
          },
          "localCreatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "weight",
          "localCreatedAt"
        ],
        "additionalProperties": false
      },
      "packs.ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "packs.GapAnalysisRequest": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string"
          },
          "tripType": {
            "type": "string"
          },
          "duration": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "startDate": {
            "type": "string"
          },
          "endDate": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "packs.PackItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "weight": {
            "type": "number"
          },
          "weightUnit": {
            "type": "string",
            "enum": [
              "g",
              "oz",
              "kg",
              "lb"
            ]
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "consumable": {
            "type": "boolean"
          },
          "worn": {
            "type": "boolean"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "packId": {
            "type": "string"
          },
          "catalogItemId": {
            "type": "integer",
            "nullable": true
          },
          "userId": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "isAIGenerated": {
            "type": "boolean"
          },
          "templateItemId": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "weight",
          "weightUnit",
          "quantity",
          "category",
          "consumable",
          "worn",
          "image",
          "notes",
          "packId",
          "catalogItemId",
          "userId",
          "deleted",
          "isAIGenerated",
          "templateItemId",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "packs.PackWithWeights": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "enum": [
              "hiking",
              "backpacking",
              "camping",
              "climbing",
              "winter",
              "desert",
              "custom",
              "water sports",
              "skiing"
            ],
            "nullable": true
          },
          "isPublic": {
            "type": "boolean"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "templateId": {
            "type": "string",
            "nullable": true
          },
          "deleted": {
            "type": "boolean"
          },
          "isAIGenerated": {
            "type": "boolean"
          },
          "localCreatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "localUpdatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "nullable": true
                },
                "weight": {
                  "type": "number"
                },
                "weightUnit": {
                  "type": "string",
                  "enum": [
                    "g",
                    "oz",
                    "kg",
                    "lb"
                  ]
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1
                },
                "category": {
                  "type": "string",
                  "nullable": true
                },
                "consumable": {
                  "type": "boolean"
                },
                "worn": {
                  "type": "boolean"
                },
                "image": {
                  "type": "string",
                  "nullable": true
                },
                "notes": {
                  "type": "string",
                  "nullable": true
                },
                "packId": {
                  "type": "string"
                },
                "catalogItemId": {
                  "type": "integer",
                  "nullable": true
                },
                "userId": {
                  "type": "string"
                },
                "deleted": {
                  "type": "boolean"
                },
                "isAIGenerated": {
                  "type": "boolean"
                },
                "templateItemId": {
                  "type": "string",
                  "nullable": true
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "weight",
                "weightUnit",
                "quantity",
                "category",
                "consumable",
                "worn",
                "image",
                "notes",
                "packId",
                "catalogItemId",
                "userId",
                "deleted",
                "isAIGenerated",
                "templateItemId",
                "createdAt",
                "updatedAt"
              ],
              "additionalProperties": false
            }
          },
          "totalWeight": {
            "type": "number"
          },
          "baseWeight": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "userId",
          "name",
          "description",
          "isPublic",
          "image",
          "tags",
          "deleted",
          "isAIGenerated",
          "createdAt",
          "updatedAt",
          "totalWeight",
          "baseWeight"
        ],
        "additionalProperties": false
      },
      "packs.UpdatePackItemRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "weight": {
            "type": "number"
          },
          "weightUnit": {
            "type": "string",
            "enum": [
              "g",
              "oz",
              "kg",
              "lb"
            ]
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "category": {
            "type": "string"
          },
          "consumable": {
            "type": "boolean"
          },
          "worn": {
            "type": "boolean"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "catalogItemId": {
            "type": "integer",
            "nullable": true
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "packs.UpdatePackRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "isPublic": {
            "type": "boolean"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "trips.CreateTripBody": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "latitude",
              "longitude"
            ],
            "additionalProperties": false,
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "nullable": true
          },
          "packId": {
            "type": "string",
            "nullable": true
          },
          "localCreatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "localUpdatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "localCreatedAt",
          "localUpdatedAt"
        ],
        "additionalProperties": false
      },
      "trips.Trip": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "latitude",
              "longitude"
            ],
            "additionalProperties": false,
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "nullable": true
          },
          "userId": {
            "type": "string"
          },
          "packId": {
            "type": "string",
            "nullable": true
          },
          "deleted": {
            "type": "boolean"
          },
          "localCreatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "localUpdatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "deleted"
        ],
        "additionalProperties": false
      },
      "trips.UpdateTripBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number"
              },
              "longitude": {
                "type": "number"
              },
              "name": {
                "type": "string"
              }
            },
            "required": [
              "latitude",
              "longitude"
            ],
            "additionalProperties": false,
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "nullable": true
          },
          "packId": {
            "type": "string",
            "nullable": true
          },
          "localUpdatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "chat.ChatRequest": {},
      "chat.CreateReportRequest": {
        "type": "object",
        "properties": {
          "userQuery": {
            "type": "string"
          },
          "aiResponse": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "userComment": {
            "type": "string"
          }
        },
        "required": [
          "userQuery",
          "aiResponse",
          "reason"
        ],
        "additionalProperties": false
      },
      "chat.UpdateReportStatusRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "additionalProperties": false
      },
      "weather.ForecastResponse": {
        "type": "object",
        "properties": {
          "location": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number"
              },
              "name": {
                "type": "string"
              },
              "region": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              },
              "tz_id": {
                "type": "string"
              },
              "localtime_epoch": {
                "type": "number"
              },
              "localtime": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "name",
              "region",
              "country",
              "lat",
              "lon"
            ],
            "additionalProperties": false
          },
          "current": {
            "type": "object",
            "properties": {
              "last_updated": {
                "type": "string"
              },
              "temp_c": {
                "type": "number"
              },
              "temp_f": {
                "type": "number"
              },
              "condition": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  },
                  "code": {
                    "type": "number"
                  }
                },
                "required": [
                  "text",
                  "icon",
                  "code"
                ],
                "additionalProperties": false
              },
              "wind_mph": {
                "type": "number"
              },
              "wind_kph": {
                "type": "number"
              },
              "wind_degree": {
                "type": "number"
              },
              "wind_dir": {
                "type": "string"
              },
              "pressure_mb": {
                "type": "number"
              },
              "pressure_in": {
                "type": "number"
              },
              "precip_mm": {
                "type": "number"
              },
              "precip_in": {
                "type": "number"
              },
              "humidity": {
                "type": "number"
              },
              "cloud": {
                "type": "number"
              },
              "feelslike_c": {
                "type": "number"
              },
              "feelslike_f": {
                "type": "number"
              },
              "vis_km": {
                "type": "number"
              },
              "vis_miles": {
                "type": "number"
              },
              "uv": {
                "type": "number"
              },
              "gust_mph": {
                "type": "number"
              },
              "gust_kph": {
                "type": "number"
              },
              "is_day": {
                "type": "number"
              },
              "windchill_c": {
                "type": "number"
              },
              "windchill_f": {
                "type": "number"
              },
              "heatindex_c": {
                "type": "number"
              },
              "heatindex_f": {
                "type": "number"
              },
              "dewpoint_c": {
                "type": "number"
              },
              "dewpoint_f": {
                "type": "number"
              },
              "will_it_rain": {
                "type": "number"
              },
              "chance_of_rain": {
                "type": "number"
              },
              "will_it_snow": {
                "type": "number"
              },
              "chance_of_snow": {
                "type": "number"
              },
              "snow_cm": {
                "type": "number"
              },
              "air_quality": {
                "type": "object",
                "properties": {
                  "co": {
                    "type": "number"
                  },
                  "no2": {
                    "type": "number"
                  },
                  "o3": {
                    "type": "number"
                  },
                  "so2": {
                    "type": "number"
                  },
                  "pm2_5": {
                    "type": "number"
                  },
                  "pm10": {
                    "type": "number"
                  },
                  "us-epa-index": {
                    "type": "number"
                  },
                  "gb-defra-index": {
                    "type": "number"
                  }
                },
                "required": [
                  "co",
                  "no2",
                  "o3",
                  "so2",
                  "pm2_5",
                  "pm10",
                  "us-epa-index",
                  "gb-defra-index"
                ],
                "additionalProperties": false
              },
              "short_rad": {
                "type": "number"
              },
              "diff_rad": {
                "type": "number"
              },
              "dni": {
                "type": "number"
              },
              "gti": {
                "type": "number"
              }
            },
            "required": [
              "last_updated",
              "temp_c",
              "temp_f",
              "condition",
              "wind_mph",
              "wind_kph",
              "wind_degree",
              "wind_dir",
              "pressure_mb",
              "pressure_in",
              "precip_mm",
              "precip_in",
              "humidity",
              "cloud",
              "feelslike_c",
              "feelslike_f",
              "vis_km",
              "vis_miles",
              "uv",
              "is_day"
            ],
            "additionalProperties": false
          },
          "forecast": {
            "type": "object",
            "properties": {
              "forecastday": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "date_epoch": {
                      "type": "number"
                    },
                    "day": {
                      "type": "object",
                      "properties": {
                        "maxtemp_c": {
                          "type": "number"
                        },
                        "maxtemp_f": {
                          "type": "number"
                        },
                        "mintemp_c": {
                          "type": "number"
                        },
                        "mintemp_f": {
                          "type": "number"
                        },
                        "avgtemp_c": {
                          "type": "number"
                        },
                        "avgtemp_f": {
                          "type": "number"
                        },
                        "maxwind_mph": {
                          "type": "number"
                        },
                        "maxwind_kph": {
                          "type": "number"
                        },
                        "totalprecip_mm": {
                          "type": "number"
                        },
                        "totalprecip_in": {
                          "type": "number"
                        },
                        "totalsnow_cm": {
                          "type": "number"
                        },
                        "avghumidity": {
                          "type": "number"
                        },
                        "avgvis_km": {
                          "type": "number"
                        },
                        "avgvis_miles": {
                          "type": "number"
                        },
                        "uv": {
                          "type": "number"
                        },
                        "condition": {
                          "type": "object",
                          "properties": {
                            "text": {
                              "type": "string"
                            },
                            "icon": {
                              "type": "string"
                            },
                            "code": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "text",
                            "icon",
                            "code"
                          ],
                          "additionalProperties": false
                        },
                        "daily_chance_of_rain": {
                          "type": "number"
                        },
                        "daily_chance_of_snow": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "maxtemp_c",
                        "maxtemp_f",
                        "mintemp_c",
                        "mintemp_f",
                        "avgtemp_c",
                        "avgtemp_f",
                        "maxwind_mph",
                        "maxwind_kph",
                        "totalprecip_mm",
                        "totalprecip_in",
                        "totalsnow_cm",
                        "avghumidity",
                        "avgvis_km",
                        "avgvis_miles",
                        "uv",
                        "condition"
                      ],
                      "additionalProperties": false
                    },
                    "astro": {
                      "type": "object",
                      "properties": {
                        "sunrise": {
                          "type": "string"
                        },
                        "sunset": {
                          "type": "string"
                        },
                        "moonrise": {
                          "type": "string"
                        },
                        "moonset": {
                          "type": "string"
                        },
                        "moon_phase": {
                          "type": "string"
                        },
                        "moon_illumination": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "sunrise",
                        "sunset",
                        "moonrise",
                        "moonset",
                        "moon_phase",
                        "moon_illumination"
                      ],
                      "additionalProperties": false
                    },
                    "hour": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time_epoch": {
                            "type": "number"
                          },
                          "time": {
                            "type": "string"
                          },
                          "temp_c": {
                            "type": "number"
                          },
                          "temp_f": {
                            "type": "number"
                          },
                          "condition": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "icon": {
                                "type": "string"
                              },
                              "code": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "text",
                              "icon",
                              "code"
                            ],
                            "additionalProperties": false
                          },
                          "wind_mph": {
                            "type": "number"
                          },
                          "wind_kph": {
                            "type": "number"
                          },
                          "wind_degree": {
                            "type": "number"
                          },
                          "wind_dir": {
                            "type": "string"
                          },
                          "pressure_mb": {
                            "type": "number"
                          },
                          "pressure_in": {
                            "type": "number"
                          },
                          "precip_mm": {
                            "type": "number"
                          },
                          "precip_in": {
                            "type": "number"
                          },
                          "humidity": {
                            "type": "number"
                          },
                          "cloud": {
                            "type": "number"
                          },
                          "feelslike_c": {
                            "type": "number"
                          },
                          "feelslike_f": {
                            "type": "number"
                          },
                          "vis_km": {
                            "type": "number"
                          },
                          "vis_miles": {
                            "type": "number"
                          },
                          "uv": {
                            "type": "number"
                          },
                          "gust_mph": {
                            "type": "number"
                          },
                          "gust_kph": {
                            "type": "number"
                          },
                          "chance_of_rain": {
                            "type": "number"
                          },
                          "chance_of_snow": {
                            "type": "number"
                          },
                          "is_day": {
                            "type": "number"
                          },
                          "windchill_c": {
                            "type": "number"
                          },
                          "windchill_f": {
                            "type": "number"
                          },
                          "heatindex_c": {
                            "type": "number"
                          },
                          "heatindex_f": {
                            "type": "number"
                          },
                          "dewpoint_c": {
                            "type": "number"
                          },
                          "dewpoint_f": {
                            "type": "number"
                          },
                          "will_it_rain": {
                            "type": "number"
                          },
                          "will_it_snow": {
                            "type": "number"
                          },
                          "snow_cm": {
                            "type": "number"
                          },
                          "air_quality": {
                            "type": "object",
                            "properties": {
                              "co": {
                                "type": "number"
                              },
                              "no2": {
                                "type": "number"
                              },
                              "o3": {
                                "type": "number"
                              },
                              "so2": {
                                "type": "number"
                              },
                              "pm2_5": {
                                "type": "number"
                              },
                              "pm10": {
                                "type": "number"
                              },
                              "us-epa-index": {
                                "type": "number"
                              },
                              "gb-defra-index": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "co",
                              "no2",
                              "o3",
                              "so2",
                              "pm2_5",
                              "pm10",
                              "us-epa-index",
                              "gb-defra-index"
                            ],
                            "additionalProperties": false
                          },
                          "short_rad": {
                            "type": "number"
                          },
                          "diff_rad": {
                            "type": "number"
                          },
                          "dni": {
                            "type": "number"
                          },
                          "gti": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "time_epoch",
                          "time",
                          "temp_c",
                          "temp_f",
                          "condition",
                          "wind_mph",
                          "wind_kph",
                          "wind_degree",
                          "wind_dir",
                          "pressure_mb",
                          "pressure_in",
                          "precip_mm",
                          "precip_in",
                          "humidity",
                          "cloud",
                          "feelslike_c",
                          "feelslike_f",
                          "vis_km",
                          "vis_miles",
                          "uv",
                          "is_day"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "date",
                    "date_epoch",
                    "day",
                    "hour"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "required": [
              "forecastday"
            ],
            "additionalProperties": false
          },
          "alerts": {
            "type": "object",
            "properties": {
              "alert": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "headline": {
                      "type": "string"
                    },
                    "msgtype": {
                      "type": "string"
                    },
                    "severity": {
                      "type": "string"
                    },
                    "urgency": {
                      "type": "string"
                    },
                    "areas": {
                      "type": "string"
                    },
                    "category": {
                      "type": "string"
                    },
                    "certainty": {
                      "type": "string"
                    },
                    "event": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    },
                    "effective": {
                      "type": "string"
                    },
                    "expires": {
                      "type": "string"
                    },
                    "desc": {
                      "type": "string"
                    },
                    "instruction": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "headline",
                    "msgtype",
                    "severity",
                    "urgency",
                    "areas",
                    "category",
                    "certainty",
                    "event",
                    "effective",
                    "expires",
                    "desc"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "location",
          "current",
          "forecast"
        ],
        "additionalProperties": false
      },
      "packTemplates.AIPackAnalysis": {
        "type": "object",
        "properties": {
          "templateName": {
            "type": "string"
          },
          "templateCategory": {
            "type": "string",
            "enum": [
              "hiking",
              "backpacking",
              "camping",
              "climbing",
              "winter",
              "desert",
              "custom",
              "water sports",
              "skiing"
            ]
          },
          "templateDescription": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "default": 1
                },
                "category": {
                  "type": "string"
                },
                "weightGrams": {
                  "type": "number",
                  "minimum": 0,
                  "default": 0
                },
                "consumable": {
                  "type": "boolean",
                  "default": false
                },
                "worn": {
                  "type": "boolean",
                  "default": false
                }
              },
              "required": [
                "name",
                "description",
                "category"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "templateName",
          "templateCategory",
          "templateDescription",
          "items"
        ],
        "additionalProperties": false
      },
      "packTemplates.CreatePackTemplateItemRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "weight": {
            "type": "number",
            "minimum": 0
          },
          "weightUnit": {
            "type": "string",
            "enum": [
              "g",
              "kg",
              "lb",
              "oz"
            ]
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "category": {
            "type": "string"
          },
          "consumable": {
            "type": "boolean"
          },
          "worn": {
            "type": "boolean"
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "weight",
          "weightUnit"
        ],
        "additionalProperties": false
      },
      "packTemplates.CreatePackTemplateRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "minLength": 1
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isAppTemplate": {
            "type": "boolean"
          },
          "localCreatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "localUpdatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "category",
          "localCreatedAt",
          "localUpdatedAt"
        ],
        "additionalProperties": false
      },
      "packTemplates.GenerateFromOnlineContentRequest": {
        "type": "object",
        "properties": {
          "contentUrl": {
            "type": "string",
            "format": "uri"
          },
          "isAppTemplate": {
            "type": "boolean"
          }
        },
        "required": [
          "contentUrl"
        ],
        "additionalProperties": false
      },
      "packTemplates.UpdatePackTemplateItemRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string"
          },
          "weight": {
            "type": "number",
            "minimum": 0
          },
          "weightUnit": {
            "type": "string",
            "enum": [
              "g",
              "kg",
              "lb",
              "oz"
            ]
          },
          "quantity": {
            "type": "integer",
            "minimum": 1
          },
          "category": {
            "type": "string"
          },
          "consumable": {
            "type": "boolean"
          },
          "worn": {
            "type": "boolean"
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "notes": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "packTemplates.UpdatePackTemplateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "minLength": 1
          },
          "image": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "isAppTemplate": {
            "type": "boolean"
          },
          "deleted": {
            "type": "boolean"
          },
          "localUpdatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "description",
          "image",
          "tags"
        ],
        "additionalProperties": false
      },
      "seasonSuggestions.SeasonSuggestionsRequest": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string"
          },
          "date": {
            "type": "string"
          }
        },
        "required": [
          "location",
          "date"
        ],
        "additionalProperties": false
      },
      "passwordReset.ForgotPasswordRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "email"
        ],
        "additionalProperties": false
      },
      "passwordReset.ResetPasswordRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "code": {
            "type": "string",
            "minLength": 6,
            "maxLength": 6
          },
          "newPassword": {
            "type": "string",
            "minLength": 8
          }
        },
        "required": [
          "email",
          "code",
          "newPassword"
        ],
        "additionalProperties": false
      },
      "user.ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "user.UpdateUserRequest": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "user.UpdateUserResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "firstName": {
                "type": "string",
                "nullable": true
              },
              "lastName": {
                "type": "string",
                "nullable": true
              },
              "role": {
                "type": "string",
                "nullable": true,
                "default": "USER"
              },
              "emailVerified": {
                "type": "boolean",
                "nullable": true
              },
              "createdAt": {
                "type": "string",
                "nullable": true
              },
              "updatedAt": {
                "type": "string",
                "nullable": true
              },
              "avatarUrl": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "email",
              "firstName",
              "lastName",
              "emailVerified",
              "createdAt",
              "updatedAt"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "success",
          "message",
          "user"
        ],
        "additionalProperties": false
      },
      "user.UserProfile": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "firstName": {
                "type": "string",
                "nullable": true
              },
              "lastName": {
                "type": "string",
                "nullable": true
              },
              "role": {
                "type": "string",
                "nullable": true,
                "default": "USER"
              },
              "emailVerified": {
                "type": "boolean",
                "nullable": true
              },
              "createdAt": {
                "type": "string",
                "nullable": true
              },
              "updatedAt": {
                "type": "string",
                "nullable": true
              },
              "avatarUrl": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "email",
              "firstName",
              "lastName",
              "emailVerified",
              "createdAt",
              "updatedAt"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "success",
          "user"
        ],
        "additionalProperties": false
      },
      "upload.PresignedUploadResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "objectKey": {
            "type": "string"
          },
          "publicUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "url",
          "objectKey",
          "publicUrl"
        ],
        "additionalProperties": false
      },
      "trailConditions.CreateTrailConditionReportRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Client-generated report ID"
          },
          "trailName": {
            "type": "string",
            "minLength": 1
          },
          "trailRegion": {
[...]
