{
  "openapi": "3.1.0",
  "info": {
    "title": "PackRat API",
    "description": "PackRat is a comprehensive outdoor adventure planning platform that helps users organize and manage their packing lists for trips.",
    "version": "1.0.0",
    "contact": {
      "name": "PackRat Support",
      "email": "support@packrat.app",
      "url": "https://packrat.app"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.packrat.app",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.packrat.app",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token obtained from /api/auth/login or /api/auth/refresh endpoints"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Server-to-server API key for machine clients"
      }
    },
    "schemas": {}
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "User authentication and authorization"
    },
    {
      "name": "Users",
      "description": "User profile and account management"
    },
    {
      "name": "Packs",
      "description": "Pack creation, management, and sharing"
    },
    {
      "name": "Pack Items",
      "description": "Manage items within packs"
    },
    {
      "name": "Pack Templates",
      "description": "Pre-built pack templates for common activities"
    },
    {
      "name": "Catalog",
      "description": "Product catalog with gear information and recommendations"
    },
    {
      "name": "Guides",
      "description": "Adventure guides and location information"
    },
    {
      "name": "Search",
      "description": "Search functionality across the platform"
    },
    {
      "name": "Weather",
      "description": "Weather information for trip planning"
    },
    {
      "name": "Chat",
      "description": "AI-powered chat assistant for trip planning"
    },
    {
      "name": "Trips",
      "description": "Trip planning and itineraries"
    },
    {
      "name": "Feed",
      "description": "Social feed, posts and comments"
    },
    {
      "name": "Trail Conditions",
      "description": "User-reported trail conditions"
    },
    {
      "name": "Wildlife",
      "description": "Wildlife identification"
    },
    {
      "name": "Admin",
      "description": "Administrative endpoints (restricted access)"
    },
    {
      "name": "Upload",
      "description": "File upload and media management"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getIndex"
      }
    },
    "/api/admin/login": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Exchange JSON credentials for a short-lived admin JWT",
        "responses": {},
        "operationId": "postApiAdminLogin"
      }
    },
    "/api/admin/token": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Exchange Basic credentials for a short-lived admin JWT (CF JWT required when CF vars are set)",
        "operationId": "postApiAdminToken"
      }
    },
    "/api/admin/stats": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get admin dashboard statistics",
        "responses": {},
        "operationId": "getApiAdminStats"
      }
    },
    "/api/admin/users-list": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List users",
        "responses": {},
        "operationId": "getApiAdminUsers-list"
      }
    },
    "/api/admin/packs-list": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List packs",
        "responses": {},
        "operationId": "getApiAdminPacks-list"
      }
    },
    "/api/admin/catalog-list": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List catalog items",
        "responses": {},
        "operationId": "getApiAdminCatalog-list"
      }
    },
    "/api/admin/users/{id}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Soft-delete a user (recoverable)",
        "responses": {},
        "operationId": "deleteApiAdminUsersById"
      }
    },
    "/api/admin/users/{id}/hard": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Hard-delete a user and all their data (irreversible, for GDPR compliance)",
        "responses": {},
        "operationId": "deleteApiAdminUsersByIdHard"
      }
    },
    "/api/admin/users/{id}/restore": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Restore a soft-deleted user",
        "responses": {},
        "operationId": "postApiAdminUsersByIdRestore"
      }
    },
    "/api/admin/packs/{id}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Soft-delete a pack",
        "responses": {},
        "operationId": "deleteApiAdminPacksById"
      }
    },
    "/api/admin/catalog/{id}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete a catalog item",
        "responses": {},
        "operationId": "deleteApiAdminCatalogById"
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Update a catalog item",
        "responses": {},
        "operationId": "patchApiAdminCatalogById"
      }
    },
    "/api/admin/analytics/platform/": {
      "get": {
        "operationId": "getApiAdminAnalyticsPlatform"
      }
    },
    "/api/admin/analytics/platform/growth": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Platform growth metrics",
        "responses": {},
        "operationId": "getApiAdminAnalyticsPlatformGrowth"
      }
    },
    "/api/admin/analytics/platform/activity": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "User activity metrics",
        "responses": {},
        "operationId": "getApiAdminAnalyticsPlatformActivity"
      }
    },
    "/api/admin/analytics/platform/active-users": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "DAU / WAU / MAU based on last_active_at",
        "responses": {},
        "operationId": "getApiAdminAnalyticsPlatformActive-users"
      }
    },
    "/api/admin/analytics/platform/breakdown": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Categorical distribution metrics",
        "responses": {},
        "operationId": "getApiAdminAnalyticsPlatformBreakdown"
      }
    },
    "/api/admin/analytics/catalog/overview": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Catalog data lake overview",
        "responses": {},
        "operationId": "getApiAdminAnalyticsCatalogOverview"
      }
    },
    "/api/admin/analytics/catalog/brands": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Top gear brands",
        "responses": {},
        "operationId": "getApiAdminAnalyticsCatalogBrands"
      }
    },
    "/api/admin/analytics/catalog/prices": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Price distribution",
        "responses": {},
        "operationId": "getApiAdminAnalyticsCatalogPrices"
      }
    },
    "/api/admin/analytics/catalog/etl": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "ETL pipeline history",
        "responses": {},
        "operationId": "getApiAdminAnalyticsCatalogEtl"
      }
    },
    "/api/admin/analytics/catalog/embeddings": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Embedding coverage",
        "operationId": "getApiAdminAnalyticsCatalogEmbeddings"
      }
    },
    "/api/admin/analytics/catalog/etl/failure-summary": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Top ETL validation failure patterns",
        "responses": {},
        "operationId": "getApiAdminAnalyticsCatalogEtlFailure-summary"
      }
    },
    "/api/admin/analytics/catalog/etl/{jobId}/failures": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Validation failures for a specific ETL job",
        "responses": {},
        "operationId": "getApiAdminAnalyticsCatalogEtlByJobIdFailures"
      }
    },
    "/api/admin/analytics/catalog/etl/reset-stuck": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Mark stuck running ETL jobs as failed",
        "responses": {},
        "operationId": "postApiAdminAnalyticsCatalogEtlReset-stuck"
      }
    },
    "/api/admin/analytics/catalog/etl/{jobId}/retry": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Retry a failed ETL job",
        "responses": {},
        "operationId": "postApiAdminAnalyticsCatalogEtlByJobIdRetry"
      }
    },
    "/api/admin/analytics/": {
      "get": {
        "operationId": "getApiAdminAnalytics"
      }
    },
    "/api/admin/trails/search": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Search OSM trails by name",
        "responses": {},
        "operationId": "getApiAdminTrailsSearch"
      }
    },
    "/api/admin/trails/{osmId}/geometry": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get full GeoJSON geometry for an OSM trail",
        "responses": {},
        "operationId": "getApiAdminTrailsByOsmIdGeometry"
      }
    },
    "/api/admin/trails/{osmId}": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get OSM trail metadata by ID",
        "responses": {},
        "operationId": "getApiAdminTrailsByOsmId"
      }
    },
    "/api/admin/trails/conditions": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List all trail condition reports",
        "responses": {},
        "operationId": "getApiAdminTrailsConditions"
      }
    },
    "/api/admin/trails/conditions/{reportId}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Soft-delete a trail condition report",
        "responses": {},
        "operationId": "deleteApiAdminTrailsConditionsByReportId"
      }
    },
    "/api/catalog/": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get catalog items",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiCatalog"
      },
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Create catalog item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "postApiCatalog"
      }
    },
    "/api/catalog/vector-search": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Vector search catalog items",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiCatalogVector-search"
      }
    },
    "/api/catalog/categories": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get catalog categories",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiCatalogCategories"
      }
    },
    "/api/catalog/compare": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Compare 2–10 catalog items side-by-side",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiCatalogCompare"
      }
    },
    "/api/catalog/embeddings-stats": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get embeddings stats",
        "operationId": "getApiCatalogEmbeddings-stats"
      }
    },
    "/api/catalog/etl": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Queue catalog ETL job from R2 CSV chunk files",
        "operationId": "postApiCatalogEtl"
      }
    },
    "/api/catalog/backfill-embeddings": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Backfill embeddings for catalog items",
        "operationId": "postApiCatalogBackfill-embeddings"
      }
    },
    "/api/catalog/{id}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get catalog item by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiCatalogById"
      },
      "put": {
        "tags": [
          "Catalog"
        ],
        "summary": "Update catalog item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "putApiCatalogById"
      },
      "delete": {
        "tags": [
          "Catalog"
        ],
        "summary": "Delete catalog item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteApiCatalogById"
      }
    },
    "/api/catalog/{id}/similar": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get similar catalog items",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiCatalogByIdSimilar"
      }
    },
    "/api/guides/": {
      "get": {
        "tags": [
          "Guides"
        ],
        "summary": "Get all guides",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiGuides"
      }
    },
    "/api/guides/categories": {
      "get": {
        "tags": [
          "Guides"
        ],
        "summary": "Get all unique guide categories",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiGuidesCategories"
      }
    },
    "/api/guides/search": {
      "get": {
        "tags": [
          "Guides"
        ],
        "summary": "Search guides",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiGuidesSearch"
      }
    },
    "/api/guides/{id}": {
      "get": {
        "tags": [
          "Guides"
        ],
        "summary": "Get a specific guide",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiGuidesById"
      }
    },
    "/api/feed/": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "List social feed posts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiFeed"
      },
      "post": {
        "tags": [
          "Feed"
        ],
        "summary": "Create a post",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiFeed"
      }
    },
    "/api/feed/{postId}": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "Get a post by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiFeedByPostId"
      },
      "delete": {
        "tags": [
          "Feed"
        ],
        "summary": "Delete a post",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteApiFeedByPostId"
      }
    },
    "/api/feed/{postId}/like": {
      "post": {
        "tags": [
          "Feed"
        ],
        "summary": "Toggle like on a post",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiFeedByPostIdLike"
      }
    },
    "/api/feed/{postId}/comments": {
      "get": {
        "tags": [
          "Feed"
        ],
        "summary": "List comments on a post",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiFeedByPostIdComments"
      },
      "post": {
        "tags": [
          "Feed"
        ],
        "summary": "Add a comment to a post",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiFeedByPostIdComments"
      }
    },
    "/api/feed/{postId}/comments/{commentId}": {
      "delete": {
        "tags": [
          "Feed"
        ],
        "summary": "Delete a comment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteApiFeedByPostIdCommentsByCommentId"
      }
    },
    "/api/feed/{postId}/comments/{commentId}/like": {
      "post": {
        "tags": [
          "Feed"
        ],
        "summary": "Toggle like on a comment",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiFeedByPostIdCommentsByCommentIdLike"
      }
    },
    "/api/packs/": {
      "get": {
        "tags": [
          "Packs"
        ],
        "summary": "List user packs",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiPacks"
      },
      "post": {
        "tags": [
          "Packs"
        ],
        "summary": "Create new pack",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "postApiPacks"
      }
    },
    "/api/packs/weight-history": {
      "get": {
        "tags": [
          "Packs"
        ],
        "summary": "Get user weight history",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiPacksWeight-history"
      }
    },
    "/api/packs/generate-packs": {
      "post": {
        "tags": [
          "Packs"
        ],
        "summary": "Generate sample packs (Admin only)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiPacksGenerate-packs"
      }
    },
    "/api/packs/analyze-image": {
      "post": {
        "tags": [
          "Packs"
        ],
        "summary": "Analyze image to detect gear items",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiPacksAnalyze-image"
      }
    },
    "/api/packs/{packId}": {
      "get": {
        "tags": [
          "Packs"
        ],
        "summary": "Get pack by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiPacksByPackId"
      },
      "put": {
        "tags": [
          "Packs"
        ],
        "summary": "Update pack",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "putApiPacksByPackId"
      },
      "delete": {
        "tags": [
          "Packs"
        ],
        "summary": "Delete pack",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteApiPacksByPackId"
      }
    },
    "/api/packs/{packId}/weight-breakdown": {
      "get": {
        "tags": [
          "Packs"
        ],
        "summary": "Per-category weight breakdown",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiPacksByPackIdWeight-breakdown"
      }
    },
    "/api/packs/{packId}/item-suggestions": {
      "post": {
        "tags": [
          "Packs"
        ],
        "summary": "Get item suggestions for pack",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiPacksByPackIdItem-suggestions"
      }
    },
    "/api/packs/{packId}/weight-history": {
      "post": {
        "tags": [
          "Packs"
        ],
        "summary": "Create pack weight history entry",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiPacksByPackIdWeight-history"
      }
    },
    "/api/packs/{packId}/gap-analysis": {
      "post": {
        "tags": [
          "Packs"
        ],
        "summary": "Analyze gear gaps in pack",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiPacksByPackIdGap-analysis"
      }
    },
    "/api/packs/{packId}/items": {
      "get": {
        "tags": [
          "Pack Items"
        ],
        "summary": "Get pack items",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiPacksByPackIdItems"
      },
      "post": {
        "tags": [
          "Pack Items"
        ],
        "summary": "Add item to pack",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiPacksByPackIdItems"
      }
    },
    "/api/packs/items/{itemId}": {
      "get": {
        "tags": [
          "Pack Items"
        ],
        "summary": "Get pack item by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiPacksItemsByItemId"
      },
      "patch": {
        "tags": [
          "Pack Items"
        ],
        "summary": "Update pack item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "patchApiPacksItemsByItemId"
      },
      "delete": {
        "tags": [
          "Pack Items"
        ],
        "summary": "Delete pack item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteApiPacksItemsByItemId"
      }
    },
    "/api/packs/{packId}/items/{itemId}/similar": {
      "get": {
        "tags": [
          "Pack Items"
        ],
        "summary": "Get similar items to a pack item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiPacksByPackIdItemsByItemIdSimilar"
      }
    },
    "/api/trips/": {
      "get": {
        "tags": [
          "Trips"
        ],
        "summary": "List user trips",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiTrips"
      },
      "post": {
        "tags": [
          "Trips"
        ],
        "summary": "Create new trip",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "postApiTrips"
      }
    },
    "/api/trips/{tripId}": {
      "get": {
        "tags": [
          "Trips"
        ],
        "summary": "Get trip by ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiTripsByTripId"
      },
      "put": {
        "tags": [
          "Trips"
        ],
        "summary": "Update trip",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "putApiTripsByTripId"
      },
      "delete": {
        "tags": [
          "Trips"
        ],
        "summary": "Delete trip",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteApiTripsByTripId"
      }
    },
    "/api/ai/rag-search": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Search outdoor guides (RAG)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiAiRag-search"
      }
    },
    "/api/ai/web-search": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Web search via Perplexity",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiAiWeb-search"
      }
    },
    "/api/ai/execute-sql": {
      "post": {
        "tags": [
          "AI"
        ],
        "summary": "Execute read-only SQL",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiAiExecute-sql"
      }
    },
    "/api/ai/db-schema": {
      "get": {
        "tags": [
          "AI"
        ],
        "summary": "Get database schema",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiAiDb-schema"
      }
    },
    "/api/chat/": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Chat with AI assistant",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiChat"
      }
    },
    "/api/chat/reports": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Report AI content",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiChatReports"
      },
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "Get reported content (Admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiChatReports"
      }
    },
    "/api/chat/reports/{id}": {
      "patch": {
        "tags": [
          "Chat"
        ],
        "summary": "Update report status (Admin)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "patchApiChatReportsById"
      }
    },
    "/api/weather/search": {
      "get": {
        "tags": [
          "Weather"
        ],
        "summary": "Search locations",
        "description": "Search for locations by name to get weather data",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiWeatherSearch"
      }
    },
    "/api/weather/search-by-coordinates": {
      "get": {
        "tags": [
          "Weather"
        ],
        "summary": "Search locations by coordinates",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiWeatherSearch-by-coordinates"
      }
    },
    "/api/weather/forecast": {
      "get": {
        "tags": [
          "Weather"
        ],
        "summary": "Get weather forecast",
        "description": "Retrieve detailed weather forecast data including current conditions, daily forecasts, and alerts",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiWeatherForecast"
      }
    },
    "/api/weather/by-name": {
      "get": {
        "tags": [
          "Weather"
        ],
        "summary": "Search and fetch forecast in one call",
        "description": "Resolve the location query to the first match and return its 10-day forecast.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiWeatherBy-name"
      }
    },
    "/api/pack-templates/": {
      "get": {
        "tags": [
          "Pack Templates"
        ],
        "summary": "Get all pack templates",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiPack-templates"
      },
      "post": {
        "tags": [
          "Pack Templates"
        ],
        "summary": "Create a new pack template",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiPack-templates"
      }
    },
    "/api/pack-templates/generate-from-online-content": {
      "post": {
        "tags": [
          "Pack Templates"
        ],
        "summary": "Generate a pack template from an online content URL (Admin only)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiPack-templatesGenerate-from-online-content"
      }
    },
    "/api/pack-templates/items/{itemId}": {
      "patch": {
        "tags": [
          "Pack Templates"
        ],
        "summary": "Update a template item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "patchApiPack-templatesItemsByItemId"
      },
      "delete": {
        "tags": [
          "Pack Templates"
        ],
        "summary": "Delete a template item",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteApiPack-templatesItemsByItemId"
      }
    },
    "/api/pack-templates/{templateId}": {
      "get": {
        "tags": [
          "Pack Templates"
        ],
        "summary": "Get a specific pack template",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiPack-templatesByTemplateId"
      },
      "put": {
        "tags": [
          "Pack Templates"
        ],
        "summary": "Update a pack template",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "putApiPack-templatesByTemplateId"
      },
      "delete": {
        "tags": [
          "Pack Templates"
        ],
        "summary": "Delete a pack template",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteApiPack-templatesByTemplateId"
      }
    },
    "/api/pack-templates/{templateId}/items": {
      "get": {
        "tags": [
          "Pack Templates"
        ],
        "summary": "Get all items for a template",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiPack-templatesByTemplateIdItems"
      },
      "post": {
        "tags": [
          "Pack Templates"
        ],
        "summary": "Add item to template",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiPack-templatesByTemplateIdItems"
      }
    },
    "/api/season-suggestions/": {
      "post": {
        "tags": [
          "Season Suggestions"
        ],
        "summary": "Get seasonal pack suggestions",
        "description": "Generate personalized pack recommendations based on user inventory, location, and seasonal context",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiSeason-suggestions"
      }
    },
    "/api/password-reset/request": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Request password reset",
        "description": "Send a 6-digit OTP to the user email. Always returns success to prevent email enumeration.",
        "operationId": "postApiPassword-resetRequest"
      }
    },
    "/api/password-reset/verify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify OTP and reset password",
        "description": "Validate the 6-digit OTP and set a new password.",
        "operationId": "postApiPassword-resetVerify"
      }
    },
    "/api/user/profile": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user profile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {},
        "operationId": "getApiUserProfile"
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user profile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "putApiUserProfile"
      }
    },
    "/api/upload/presigned": {
      "get": {
        "tags": [
          "Upload"
        ],
        "summary": "Generate presigned upload URL",
        "description": "Generate a presigned URL for secure file uploads to R2 storage",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiUploadPresigned"
      }
    },
    "/api/trail-conditions/": {
      "get": {
        "tags": [
          "Trail Conditions"
        ],
        "summary": "List trail condition reports",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiTrail-conditions"
      },
      "post": {
        "tags": [
          "Trail Conditions"
        ],
        "summary": "Submit a trail condition report",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiTrail-conditions"
      }
    },
    "/api/trail-conditions/mine": {
      "get": {
        "tags": [
          "Trail Conditions"
        ],
        "summary": "List my trail condition reports",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiTrail-conditionsMine"
      }
    },
    "/api/trail-conditions/{reportId}": {
      "put": {
        "tags": [
          "Trail Conditions"
        ],
        "summary": "Update a trail condition report",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "putApiTrail-conditionsByReportId"
      },
      "delete": {
        "tags": [
          "Trail Conditions"
        ],
        "summary": "Delete a trail condition report",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "deleteApiTrail-conditionsByReportId"
      }
    },
    "/api/trails/search": {
      "get": {
        "tags": [
          "Trails"
        ],
        "summary": "Search outdoor routes by text, location, and/or sport",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiTrailsSearch"
      }
    },
    "/api/trails/{osmId}/geometry": {
      "get": {
        "tags": [
          "Trails"
        ],
        "summary": "Get full GeoJSON geometry for a route (stitches from OSM ways if needed)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiTrailsByOsmIdGeometry"
      }
    },
    "/api/trails/{osmId}": {
      "get": {
        "tags": [
          "Trails"
        ],
        "summary": "Get route metadata by OSM relation ID",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "getApiTrailsByOsmId"
      }
    },
    "/api/wildlife/identify": {
      "post": {
        "tags": [
          "Wildlife"
        ],
        "summary": "Identify plant or animal species from an image",
        "description": "Use AI vision to identify plant and animal species in an uploaded image",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "operationId": "postApiWildlifeIdentify"
      }
    },
    "/api/knowledge-base/reader/extract": {
      "post": {
        "tags": [
          "Knowledge Base"
        ],
        "summary": "Extract content from a URL",
        "operationId": "postApiKnowledge-baseReaderExtract"
      }
    },
    "/api/alltrails/preview": {
      "post": {
        "tags": [
          "AllTrails"
        ],
        "summary": "Fetch AllTrails OG preview",
        "description": "Scrapes OpenGraph metadata (title, description, image) from an AllTrails trail page.",
        "operationId": "postApiAlltrailsPreview"
      }
    }
  }
}